<%= stylesheet_link_tag 'sessions.scss' %>


<div class="container form-signin">
	<h2 class="form-signin-heading">Login</h2>
	<%= form_tag '/login' do %>
			<%= label_tag 'email', 'Email'%>
	        <%= text_field_tag :email, "", type: 'email', class: "form-control" %> <br />
	        <%=label_tag 'password',"Password" %>
	        <%= password_field_tag :password, "", type: 'password', class: "form-control" %> <br />
	        <%= submit_tag "Submit", class: "btn btn-lg btn-primary btn-block" %>
	<% end %>
	<div class="home">
		<%= link_to "Back", root_path %>
	</div>
</div>
<br />
<%= link_to "Signup", signup_path%>

<!-- reference: https://getbootstrap.com/examples/signin/ -->

<!-- FIXME: css for this (and the rest of sessions) is currently in application -->