<h1>Showing all <%= pluralize(@donations.count, "donation") %>.</h1>

<%= render partial: "searches/search_form" %>

<table>
  <th>ID</th> <th>Date</th> <th>Crop</th> <th>Quantity</th> <th>Harvested from</th> <th>Donated to</th> <th>Comments</th>
  <% @donations.each do |donation| %>

  <tr>
    <td><%= donation.id %></td>
  	<td><%= donation.date %></td> <td><%= donation.crop %></td> <td><%= donation.quantity %></td>
  	<td><%= donation.donated_to %></td> <td><%= donation.harvested_from %></td> <td><%= donation.comments %></td>
  	<td><%= link_to "Details", donation %>
  </tr>

  <% end %>
</table>


<%= link_to "Home", root_path %>
<%= link_to "Create Donation", new_donation_path %>
