<h1>New Donation</h1>
<div class ="row">
  <%= form_for(@donation) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :crop %>
    <%= f.text_field :crop %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity %>

    <%= f.label "Donation Recipient" %>
    <%= f.text_field :donated_to %>

    <%= f.label :harvested_from %>
    <%= f.text_field :harvested_from %>

    <%= f.submit "Record Donation" %>
  <% end %>
</div>
<%= link_to "Home", root_path %>
