<h1>New Donation</h1>
<div class ="row">
  <%= form_for(@donation) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :crop %>
    <%= f.text_field :crop %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity %>




    <%= f.submit "Record Donation", class: "btn btn-primary" %>
  <% end %>
</div>