<h1>Showing all <%= pluralize(@crops.count, "crop") %>.</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
<% @crops.each do |crop| %>
  <tr>
    <td><%= crop.id %></td>
    <td><%= crop.name %></td>
  </tr>
<% end %>
</table>
<%= link_to "Home", root_path %>
<%= link_to "Create Crop", new_crop_path %>