<h1>Crops</h1>

<h3>Showing all <%= pluralize(@crops.count, "crop") %>.</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
<% @crops.each do |crop| %>
  <tr>
    <td><%= crop.name %></td>
    <td><%= link_to "Delete", crop, method: :delete, data: {confirm: "Are you sure? Crop will be deleted from all associated categories"} %></td>
  </tr>
<% end %>
</table>
<%= link_to "Home", root_path %>
<%= link_to "Create Crop", new_crop_path %>