<h1>Showing all <%= pluralize(@categories.count, "categories") %>.</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= link_to "Details", category %>
    <td><%= link_to "Add crops", "#" %>
  </tr>
<% end %>
</table>
<%= link_to "Home", root_path %>
<%= link_to "Create Category", new_category_path %>