<h1>Relations</h1>

<h3>Showing all <%= pluralize(@category_crops.count, "crop") %> memberships.</h3>
<h5>This page displays the individual assignments of crops to categories.</h5>

<table>
  <tr>
    <th>ID</th>
    <th>Category</th>
    <th>Crop</th>
  </tr>
<% @category_crops.each do |category_crop| %>
  <tr>
    <td><%= category_crop.id %></td>
    <td><%= category_crop.category.name %></td>
    <td><%= category_crop.crop.name %></td>
    <td><%= link_to "Delete", category_crop, method: :delete, data: {confirm: "Are you sure?"}  %></td>
  </tr>
<% end %>
</table>
<%= link_to "Home", root_path %>
<%= link_to "Add crops to categories", new_category_crop_path %>